.darkloader-wrapper, .innerloader-wrapper {
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.innerloader-wrapper {
    height: 72vh;
}

@media (min-width: 760px) {
    .innerloader-wrapper {
        height: 78vh;
    }
}

@media (min-width: 990px) {
    .innerloader-wrapper {
        height: 68vh;
    }
}

@media (min-width: 1200px) {
    .innerloader-wrapper {
        height: 72vh;
    }
}

@media (max-height: 560px) {
    .innerloader-wrapper {
        height: 64vh;
    }
}

.darkloader,
.darkloader:before,
.darkloader:after,
.innerloader,
.innerloader:before,
.innerloader:after {
    box-sizing: content-box;
    border-radius: 50%;
    min-height: 10rem;
    min-width: 10rem;
    margin: auto;
}

.darkloader,
.darkloader:before,
.darkloader:after {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, #0022aa99 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, #0022aa99 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 40%, #0022aa99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#990022aa', GradientType=1);
}

.innerloader:after {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, #0022aa99 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, #0022aa99 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 40%, #0022aa99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#990022aa', GradientType=1);
}

.darkloader,
.innerloader {
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0.1rem #30a;
    animation: pulse3 1s linear infinite;
    position: relative;
    display: flex;
    padding: 2rem;
    color: lightblue;
}

.innerloader {
    box-shadow: none;
}

.darkloader:before,
.darkloader:after,
.innerloader:before,
.innerloader:after {
    position: absolute;
    display: block;
    content: '';
}

.darkloader:before {
    box-shadow: inset 0 0 0 0.1rem #30c;
    animation: pulse2 1s linear infinite;
    padding: 1rem;
}

.darkloader:after,
.innerloader:after {
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0.1rem #30f;
    animation: pulse1 1s linear infinite;
    display: flex;
    padding: 0;
    content: 'L O A D I N G';
    font-size: 1.2rem;
}

@keyframes pulse1 {
    20% {
        padding: 1rem;
    }

    60% {
        padding: 0;
    }
}

@keyframes pulse2 {
    40% {
        padding: 2rem;
    }

    80% {
        padding: 1rem;
    }
}

@keyframes pulse3 {
    50% {
        padding: 3rem;
    }

    100% {
        padding: 2rem;
    }
}