.darkloader-wrapper {
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.darkloader,
.darkloader:before,
.darkloader:after {
    box-sizing: content-box;
    border-radius: 50%;
    min-height: 10rem;
    min-width: 10rem;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(0, 191, 255, 0.6) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(0, 191, 255, 0.6) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 40%, rgba(0, 191, 255, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#9900bfff', GradientType=1);
    margin: auto;
}

.darkloader {
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0.1rem lightblue;
    animation: pulse3 1s linear infinite;
    position: relative;
    display: flex;
    padding: 2rem;
    color: white;
}

.darkloader:before,
.darkloader:after {
    position: absolute;
    display: block;
    content: '';
}

.darkloader:before {
    box-shadow: inset 0 0 0 0.1rem skyblue;
    animation: pulse2 1s linear infinite;
    padding: 1rem;
}

.darkloader:after {
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0.1rem deepskyblue;
    animation: pulse1 1s linear infinite;
    display: flex;
    padding: 0;
    content: 'L O A D I N G';
}

@keyframes pulse1 {
    20% {
        padding: 1rem;
    }

    60% {
        padding: 0;
    }
}

@keyframes pulse2 {
    40% {
        padding: 2rem;
    }

    80% {
        padding: 1rem;
    }
}

@keyframes pulse3 {
    50% {
        padding: 3rem;
    }

    100% {
        padding: 2rem;
    }
}