body{
	text-align: center;
	margin: 0 auto;
}

h1{
	margin:0 auto;
}

.button {
 	width : 200px;
  	padding:5px;
	font-weight: bold;
	font-size: 90%;
	font-weight: lighter;
}

#AutoFlip{
	width: 205px;
	padding:5px;
	font-weight: bold;
	font-size: 90%;
	font-weight: lighter;
}
.heads, .tails{
background-repeat:no-repeat;
width:20px !important;
height:20px !important;
float: left;
padding: 0 !important;
margin: 0 !important;
}
.clear{
clear: both !important;
}
#coins{
margin-top: 20px !important;
margin-left: auto;
margin-right: auto;
width:225px !important;
height:50px !important;
overflow:auto;
}
.heads{
background-image:url("../images/heads.png");
}
.tails{
background-image:url("../images/tails.png");
}