#slotbg{
	background-image: url("../images/slot-background.png");
	background-repeat: no-repeat;
	border:0;
	width: 400px;
	height: 315px;
	margin:0 auto;
}
img {
	height: 35px;
	width: 35px;
}
form img{
	height:60px;
	width: 60px;
	margin-top: 20px;
}
#creditbet{
	margin-top: -40px;
	background: none !important;
	background-color: transparent !important;
}
#creditbet div{
	*display: inline;
	display: inline-block !important;
}
#credit{
	position: relative;
	padding-right: 128px;
}
#credit input{
	background-color: black;
	color: white;
	padding:6px;
}
#bet{
	position: relative;
}
#bet input{
	background-color:lightcyan;
	color: black;
	padding:6px;
}
#result ::-webkit-input-placeholder { /* WebKit browsers */
    color: black;
}
#result :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: black;
}
#result ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
}
#result :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: black;
}
#button{
	position: relative;
	width: 400px;
	margin: 57px 0 0 -5px;
	z-index: 10;
	text-align: center;
}
#button div:first-child, #button div:nth-child(2){
	padding: 0 25px 0 0;
}
#button div{
	*display: inline;
	display: inline-block;
}
#reset{
	width: 55px;
	height: 50px;
	border:black;
	border-width: 3px;
	border-style: solid;
	border-radius:10%;
	background-color: red;
	color: black;
	font-size: 11px;
	font-family: Impact, Charcoal, sans-serif;
}
#reset:hover{
	background-color: lightpink;
}
#spin{
	width: 55px;
	height: 50px;
	color: black;
	border:black;
	border-width: 3px;
	border-style: solid;
	border-radius:10%;
	background-color: green;
	font-size: 12px;
	font-family: Impact, Charcoal, sans-serif;
}
#spin:hover{
	background-color: lightgreen;
}
th,tr,table,td{
	padding:0 !important;
	margin:0 !important;
}