/* contact */

.contact {
    form {
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        width: 100%;
        padding: 1rem;
        margin: 0 0 1rem 0;
        background: rgba(0, 0, 34, 0.9);
        color: #fff;
        border: none;
        border-radius: 0;
        font-size: 1.9rem;
        border: 1px solid rgba(255, 255, 255, 0.2)
    }

    .submit {
        border: 1px solid rgba(255, 255, 255, 0.4)
    }

    .card {
        padding: 4rem;
    }

    hr {
        margin: 2rem auto;
    }
}