/* contact */
.contact a:hover,
.contact a:active {
    background: none;
}

.contact {
    form {
        display: flex;
        flex-direction: column;
    }
    input, textarea {
        width: 100%;
        padding: 1.2rem;
        margin: 0 0 1rem 0;
        background: rgba(255,255,255,0.1);
        color: #fff;
        border: none;
        border-radius: 0;
    }
}