/* about */
.about {

    main {
        padding: 0;
    }

    @media (min-width: 760px) {

        main {
            padding: 0 2rem;
        }
    }

    .card {
        max-width: 100rem;
        padding: 2rem;

        >div {
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 990px) {

            >div {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }
        }

        .about-txt,
        .about-img {
            width: 100%;
        }

        @media (min-width: 990px) {

            .about-txt,
            .about-img {
                width: 49%;
            }
        }

        p {
            text-align: left;
            font-weight: 400;
        }

        img {
            margin: 0 0 2rem;
            height: 24rem;
            background: #001;
            object-fit: cover;
            object-position: center top;
        }

        @media (min-width: 760px) {

            img {
                height: 30rem;
            }
        }

        @media (min-width: 990px) {

            img {
                height: 28rem;
            }
        }
    }

    hr {
        margin: 2rem auto;
    }

    img {
        width: 100%;
    }

    .btn {
        color: #ffffff;
        padding: 1rem;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        font-size: 1.6rem;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
    }

    .btn:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .card-btn {
        padding: 0.4rem 1rem 0.4rem 2rem;
        width: 100%;
        margin: 0 0 2rem;
        text-align: center;
        font-weight: 600;
        font-size: 1.9rem;
    }

    @media (min-width: 990px) {

        .card-btn {
            margin: 0;
        }
    }
}