/* about */
.about {

    main {
        padding: 0;
    }

    @media (min-width: 760px) {

        main {
            padding: 0 2rem;
        }
    }

    .card {
        max-width: 110rem;
        padding: 2rem;

        > div {
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 990px) {

            > div {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }
        }

        p, img {
            width: 100%;
        }

        @media (min-width: 990px) {

            p, img {
                width: 49%;
            }
        }
    
        p {
            text-align: left;
            font-weight: 400;
        }

        img {
            margin: 0 0 2rem;
            height: 24rem;
            background: #001;
            object-fit: cover;
            object-position: center;
        }

        @media (min-width: 760px) {
    
            img {
                height: 36rem;
            }
        }

        @media (min-width: 990px) {

            img {
                height: 40rem;
                margin: 0;
            }
        }
    }

    hr {
        margin: 2rem auto;
    }

    img {
        width: 100%;
    }
}