/* portfolio */

.portfolio {

  h2 {
    text-align: center;
    margin: 2rem auto;
  }

  @media (min-width: 990px) {
    h2 {
      margin: 3rem auto;
    }
  }

  @media (max-height: 560px) {
    h2 {
      margin: 0 auto 2rem;
    }
  }

  @media (min-width: 1600px) {
    h2 {
      margin: 4rem auto;
    }
  }

  main {
    max-width: 180rem;
    margin: 0 auto;

    @media (min-width: 990px) {
      >div {
        padding: 0 2rem;
      }
    }
  }

  .featured-pro {
    h2 {
      margin: 2rem auto;
    }

    @media (min-width: 760px) {
      h2 {
        margin: 3rem auto 2.4rem;
      }
    }

    @media (max-height: 560px) {
      h2 {
        margin: 0 auto 2rem;
      }
    }

    @media (min-width: 1200px) {
      h2 {
        margin: 2rem auto;
      }
    }

    @media (min-width: 1600px) {
      h2 {
        margin: 0 auto 2rem;
      }
    }
  }

  &.selected-proj main {
    max-width: 117rem;
  }

  .proj-wrapper,
  .procard,
  .card-image {
    transition: 0.4s ease;
  }

  .card-image {
    height: 18rem;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    background: $darkblue;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  @media (min-width: 760px) {
    .card-image {
      max-height: 18rem;
      width: max-content;
      min-width: 100%;
      vertical-align: middle;
      object-fit: cover;
      object-position: center top;
    }
  }

  .goback-btn {
    position: relative;
    vertical-align: middle;
    margin: -8.6rem 0 0.2rem 2rem;
    padding: 1rem;
  }

  .goback-btn span {
    display: none;
  }

  @media (min-width: 760px) {
    .goback-btn span {
      display: inline;
    }
  }

  @media (min-width: 560px) {
    .goback-btn {
      margin: -8.2rem 0 0.2rem 2rem;
    }
  }

  @media (max-height: 560px) {
    .goback-btn {
      margin: -8.6rem 0 0.2rem 2rem;
    }
  }

  @media (min-width: 990px) {
    .goback-btn {
      margin: -9.4rem 0 0.2rem;
    }
  }

  @media (min-width: 1200px) {
    .goback-btn {
      margin: -8.4rem 0 0.2rem;
    }
  }

  .goback-btn i {
    padding: 0;
    height: auto;
    width: auto;
  }

  @media (min-width: 560px) {
    .goback-btn i {
      padding: 0 1rem 0 0;
    }
  }

  .btn {
    color: $liteblue;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.6rem;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }

  .btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0 4rem 0;
  }

  @media (min-width: 760px) {
    .cards {
      padding: 0 1rem 4rem 1rem;
    }
  }

  .cards-item {
    display: flex;
    padding: 0 2rem 2rem;
    width: 100%;
  }

  @media (min-width: 760px) {
    .cards-item {
      padding: 0 1rem 2rem;
      width: 50%;
    }
  }

  @media (min-width: 990px) {
    .cards-item {
      width: 33.3333%;
    }
  }

  @media (min-width: 1600px) {
    .cards-item {
      width: 25%;
    }
  }

  @media (min-width: 1900px) {
    .cards-item {
      width: 20%;
    }
  }

  .procard {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    top: 0.2rem;
  }

  @media (min-width: 760px) {

    .procard:hover {
      background-color: rgba(255, 255, 255, 0.04);
      box-shadow: -0.5rem 0.5rem 2rem 0rem rgba(0, 0, 0, 0.2), -1rem 1rem 2rem 0rem rgba(0, 0, 0, 0.2);
      top: 0rem;
    }
  }

  .card-content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #11114466 40%, #44114466 100%);
    text-align: center;
    
    > a:first-child:hover {
      transition: 0.4s ease;
      background: none;
    }
  }

  .card-title {
    color: $liteblue;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
    padding: 1rem 0 2rem;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .card-text {
    color: $liteblue;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }
}

.proj-wrapper {
  word-break: break-all;
  word-break: break-word;
  position: relative;
  padding: 0 2rem 4rem;
  margin: 0 auto;
  width: 100%;
  top: 0.2rem;
}

@media (min-width: 760px) {
  .proj-wrapper {
    padding: 0 2rem 3rem 2rem;
  }
}

@media (min-width: 990px) {
  .proj-wrapper {
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: -1rem 1rem 2rem 0rem rgba(0, 0, 0, 0.02), -1rem 1rem 2rem 0rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 0 0 6rem;
  }
}

.proj-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .proj-inner-content {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: 990px) {
    .proj-inner-content {
      flex-direction: column;
      padding: 0;
    }
  }

  .card-btn {
    padding: 1.25rem;
    width: 100%;
    margin: 0 0 2rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.9rem;
  }

  @media (min-width: 990px) {

    .card-btn {
      margin: 0;
    }
  }

  >div {
    width: 100%;
  }

  @media (min-width: 990px) {

    >div {
      width: 49%;
    }
  }

  img {
    width: 100%;
  }

  h3 {
    padding: 0 0 0.4rem 0;
  }

  p {
    padding: 0 0 2rem 0;
    text-shadow: 0 0 1rem $black;
    font-weight: 400;
  }
}

@media (min-width: 990px) {
  .proj-inner-content > div > div:last-child > p {
    padding: 0;
  }
}

@media (min-width: 990px) {
  .proj-content {
    flex-direction: row;
  }
}