.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
#boxcard {
	width: 400px;
	height: 420px;
	z-index: 1;
	margin:0 auto;
}

#boxcard div {
	display: inline-block;
	width: 54px;
	height: 75px;
	background: lightgray;
	margin: 5px;
	padding: 5px;
	border: 1px solid darkgrey;
	cursor: pointer;
	/*-webkit-border-radius: .5em;
	-moz-border-radius: .5em;*/
	border-radius: .5em;
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);*/
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	z-index: 2;
	vertical-align: top;
}

#boxcard div img {
	border: none;
	z-index: 3;
	margin-top: 10px;
	width: 100%;
	height: auto;
}

#boxcard div:hover {
	background-color: grey;
}
.opacity {
	opacity: .6;
	filter: alpha(opacity=60);
}

#boxbutton {
	text-align: center;
	padding: 20px;
	margin-top: -40px;
}
.link,
#reset {
	text-decoration: none;
	padding: 10px 20px;
}
.link{
	margin-left: 5px;
}
#reset{
	text-decoration: none;
	font-size: 14px;
	width: 100px;
}