@import '/src/assets/fontawesome-pro-6.5.1-web/css/all.min.css';
@import '/src/assets/fontawesome-pro-6.5.1-web/scss/brands.scss';

$liteblue: #CDE;
$litepurp: #DCE;
$black: #001;
$blue: #208;
$darkblue: #002;
$darkpurp: #204;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, button, a {
  transition: 0.4s ease;
}

/* base styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus, *:after:focus, *:before:focus {
  outline: none;
}

@-ms-viewport {
  width: device-width;
}

html, body {
  font-family: 'Barlow', Verdana, sans-serif;
  font-weight: 500;
  position: relative;
}

@media all and (min-width: 120em) {

  html, body {
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, code, button {
  font-family: 'Barlow', Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $liteblue;
}

@media (min-width: 370px) {

  h1, h2, h3, h4, h5, h6 {
    color: $liteblue;
  }
}

h1 {
  line-height: 4rem;
  font-size: 3.2rem;
}

@media (max-width: 240px) {
  h1 {
    line-height: 3.6rem;
    font-size: 2.8rem;
  }
}

h1 {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  line-height: 3.6rem;
  font-size: 2.6rem;
}

@media (max-width: 240px) {
  h2 {
    line-height: 3.2rem;
    font-size: 2.4rem;
  }
}

h3 {
  line-height: 3.2rem;
  font-size: 2.2rem;
}

@media (max-width: 240px) {
  h3 {
    line-height: 2.8rem;
    font-size: 2rem;
  }
}

h4 {
  line-height: 2.8rem;
  font-size: 2rem;
}

@media (max-width: 240px) {
  h4 {
    line-height: 2.7rem;
    font-size: 1.9rem;
  }
}

h5 {
  line-height: 2.7rem;
  font-size: 1.9rem;
}

@media (max-width: 240px) {
  h5 {
    line-height: 2.4rem;
    font-size: 1.6rem;
  }
}

h6 {
  line-height: 2.4rem;
  font-size: 1.6rem;
}

@media (max-width: 240px) {
  h6 {
    line-height: 2.2rem;
    font-size: 1.4rem;
  }
}

hr {
  border-bottom: 0.11rem solid $liteblue;
  border-color: $liteblue;
  border-right: none;
  border-left: none;
  border-top: none;
  margin: 2.4rem 0;
  opacity: 0.2;
}

@media (min-width: 370px) {
  hr {
    border-bottom: 0.11rem solid $liteblue;
    margin: 3rem 0;
  }
}

ul {
  font-size: 0;
}

p, li, a, button {
  line-height: normal;
  font-size: 1.9rem;
}

p, li {
  color: $liteblue;
}

a, i, button {
  background: none;
  border: none;
  color: $litepurp;
}

a:hover, a:visited, a:active, a:focus,
i:hover, i:visited, i:active, i:focus,
button:hover, button:visited, button:active, button:focus {
  color: $liteblue;
}

@media (min-width: 370px) {

  a, i, button {
    color: $liteblue;
  }

  a:hover, a:visited, a:active, a:focus,
  i:hover, i:visited, i:active, i:focus,
  button:hover, button:visited, button:active, button:focus {
    color: $liteblue;
  }
}

a, button {
  border: 1px inset transparent;
}

a:hover, a:active, button:hover, button:active {
  background: rgba(255, 255, 255, 0.04);
}

a:focus, button:focus {
  border: 1px inset WHITE;
  outline: none;
}

a:active, button:active {
  background: none;
  border: 1px inset transparent;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

i, button {
  font-size: 2rem;
  padding: 1.4rem;
}

button {
  height: 5rem;
  width: 5rem;
}

@media (min-width: 370px) {

  i, button {
    padding: 1rem;
  }

  button {
    height: 5rem;
    width: 5rem;
  }
}

button::-moz-focus-inner {
  border: 0;
}

button {
  line-height: 0;
  cursor: pointer;
  margin: 0;
  width: auto;
}

@media (min-width: 370px) {
  button {
    padding: 1rem;
    width: auto;
  }
}

button i {
  transition: 0.4s ease;
  padding: 0;
  margin: 0 1rem 0 0;
  height: auto;
  width: auto;
}

@media (min-width: 370px) {
  button i {
    height: auto;
    width: auto;
  }
}

@import '/src/components/About/about.css';
@import '/src/components/Err/err.css';
@import '/src/components/Home/home.css';
@import '/src/components/Info/info.css';
@import '/src/components/Loader/loader.css';
@import '/src/components/Nav/nav.css';
@import '/src/components/Pro/carousel.css';
@import '/src/components/Pro/modal.css';
@import '/src/components/Pro/pro.css';
@import '/src/components/svgs/ufo.css';
