/* layout */
@import 'stars.scss';

$liteblue: #CDE;
$litepurp: #DCE;
$black: #001;
$blue: #208;
$darkblue: #002;
$darkpurp: #204;

.wrap {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0;
  display: flex;
  margin: 0;
  height: 100vh;
}

main {
  padding: 1rem;
  width: 100%;
}

@media (min-width: 560px) {
  main {
    padding: 0;
  }
}

@media (min-width: 560px) {
  main nav ul {
    display: block;
  }
}

html {
  height: 100%;
  cursor: url('../public/cursor.svg'), default;
  background: $darkblue;
  background: radial-gradient(ellipse at bottom, $darkpurp 0%, $darkblue 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*,
a:hover {
  cursor: url('../public/cursor.svg'), default;
}

a {
  transition: 0.4s ease;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $blue $black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $liteblue;
  border-radius: 1rem;
  border: 0rem none $black;
}

.loading {
  transition: 0.4s ease;
  opacity: 0;
  position: absolute;
  overflow: hidden;
}

.loaded {
  transition: 0.4s ease;
  opacity: 1;
  position: relative;
  overflow: unset;
}